/* Container principal para dividir a tela em duas colunas */
.main-container {
  display: flex;
  height: 100vh;
}

/* Coluna da esquerda com a imagem */
.left-column {
  flex: 1;
  background-image: url('/images/dog.webp');
  background-size: cover;
  background-position: center;
}

/* Coluna da direita com o formulário de login */
.right-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFEF2;
}

/* Container do formulário de login */
.login-container {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo dos campos de input */
.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Container dos botões */
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

/* Botões */
.login-button,
.register-button {
  width: 48%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.login-button {
  background-color: #3a7d44;
}

.register-button {
  background-color: #f4a261;
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .left-column {
    height: 40vh;
  }

  .right-column {
    flex: none;
    height: auto;
    padding: 20px;
  }

  .login-container {
    width: 90%;
  }
}
